* {
    box-sizing: border-box;
  }
  
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 50px;
}
h1 {
   ;
    text-align: center;
    padding: 10px;
  }
.para {
        padding: 20px 40px;
}
.container1{
    float: right;
    
}
h2 {
    padding-top: 0.1px;
}
